@charset "utf-8";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  word-break: break-all;
  /* font-family: */
  color: inherit;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* ================================================================================================================================ */
#wrapper {
  border: 10px solid red;
  min-width: 1900px;
  max-width: 1920px;
  min-height: 960px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
#wrapper_body {
  border: 10px solid blue;
  width: 100%;
  height: 100%;
}
#header {
  border: 10px solid green;
  height: 10%;
}
#header .head_left {
  border: 10px solid blue;
  float: left;
  margin-top: 5px;
}
#header .head_right {
  border: 10px solid blue;
  float: right;
  margin-top: 24px;
}

#container {
  border: 10px solid gold;
  display: flex;
  height: 90%;
}
#left_container {
  border: 10px solid blue;
  width: 20%;
}
#right_container {
  border: 10px solid blueviolet;
  width: 90%;
}
.menu_box {
  border: 10px solid hotpink;
  margin: 2px;
}

.logout {
  border: 10px solid hotpink;
}
/* 버튼 */

.ant-btn {
  font-size: 14px;
  line-height: 1.5714285714285714;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
}
.ant-btn-primary {
  color: #fff;
  background: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  background: #4096ff;
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
  color: #fff;
  background: #0958d9;
}

.ant-btn:not(:disabled):focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
/* input */

.ant-input {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  /* font-family:   */
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  transition: all 0.2s;
}
.ant-input-outlined {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}

.ant-input-css-var {
  box-sizing: border-box;
}

.ant-input-outlined:focus,
.ant-input-outlined:focus-within {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
  background-color: #ffffff;
}

.ant-input-outlined:hover {
  border-color: #4096ff;
  background-color: #ffffff;
}

/* radio */

.ant-radio-wrapper {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  /* font-family:   */
  display: inline-flex;
  align-items: baseline;
  margin-inline-start: 0;
  margin-inline-end: 8px;
  cursor: pointer;
}

.ant-radio-css-var {
  /* font-family:   */
  font-size: 14px;
  box-sizing: border-box;
}

.ant-radio-wrapper .ant-radio-input {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.ant-radio-wrapper .ant-radio-inner {
  box-sizing: border-box;
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: block;
  width: calc(1px * 16 );
  height: calc(1px * 16);
  background-color: #ffffff;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  transition: all 0.2s; 
  
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #1677ff;
  background-color: #1677ff;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
  transform: scale(calc(6 / 16));
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-radio-wrapper .ant-radio-inner::after {
  box-sizing: border-box;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  display: block;
  width: calc(1px * 16);
  height: calc(1px * 16);
  margin-block-start: calc(1px * 16 / -2);
  margin-inline-start: calc(1px * 16 / -2);
  background-color: #fff;
  border-block-start: 0;
  border-inline-start: 0;
  border-radius: calc(1px * 16);
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: "";


}

.ant-radio-wrapper::after {
  display: inline-block;
  width: 0;
  overflow: hidden;
  content: "\a0";
  
}

/* .ant-radio-css-var [class^="ant-radio"],
.ant-radio-css-var [class*=" ant-radio"] {
  box-sizing: border-box;
} 
.ant-radio-css-var [class^="ant-radio"]::before,
.ant-radio-css-var [class*=" ant-radio"]::before,
.ant-radio-css-var [class^="ant-radio"]::after,
.ant-radio-css-var [class*=" ant-radio"]::after {
  box-sizing: border-box;
} */

